@font-face {
    font-family: 'startup-black';
    src: url('./startup/startup-black-webfont.woff2') format('woff2'),
        url('./startup/startup-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-bold';
    src: url('./startup/startup-bold-webfont.woff2') format('woff2'),
        url('./startup/startup-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-extrabold';
    src: url('./startup/startup-extrabold-webfont.woff2') format('woff2'),
        url('./startup/startup-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-extralight';
    src: url('./startup/startup-extralight-webfont.woff2') format('woff2'),
        url('./startup/startup-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-light';
    src: url('./startup/startup-light-webfont.woff2') format('woff2'),
        url('./startup/startup-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-medium';
    src: url('./startup/startup-medium-webfont.woff2') format('woff2'),
        url('./startup/startup-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-regular';
    src: url('./startup/startup-regular-webfont.woff2') format('woff2'),
        url('./startup/startup-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-semibold';
    src: url('./startup/startup-semibold-webfont.woff2') format('woff2'),
        url('./startup/startup-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-thin';
    src: url('./startup/startup-thin-webfont.woff2') format('woff2'),
        url('./startup/startup-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sequel100black-45';
    src: url('./sequelblack/sequel100black-45-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-45-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-46';
    src: url('./sequelblack/sequel100black-46-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-46-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-55';
    src: url('./sequelblack/sequel100black-55-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-56';
    src: url('./sequelblack/sequel100black-56-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-56-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-65';
    src: url('./sequelblack/sequel100black-65-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-65-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-66';
    src: url('./sequelblack/sequel100black-66-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-66-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-75';
    src: url('./sequelblack/sequel100black-75-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-75-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-76';
    src: url('./sequelblack/sequel100black-76-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-76-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-85';
    src: url('./sequelblack/sequel100black-85-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-85-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-86';
    src: url('./sequelblack/sequel100black-86-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-86-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-95';
    src: url('./sequelblack/sequel100black-95-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-95-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-96';
    src: url('./sequelblack/sequel100black-96-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-96-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sequel100black-10';
    src: url('./sequelblack/sequel100black-105-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-105-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-10';
    src: url('./sequelblack/sequel100black-106-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-106-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-11';
    src: url('./sequelblack/sequel100black-115-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-115-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sequel100black-11';
    src: url('./sequelblack/sequel100black-116-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-116-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}