@font-face {
    font-family: 'startup-light';
    src: url('./startup/startup-light-webfont.woff2') format('woff2'),
        url('./startup/startup-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-medium';
    src: url('./startup/startup-medium-webfont.woff2') format('woff2'),
        url('./startup/startup-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'startup-regular';
    src: url('./startup/startup-regular-webfont.woff2') format('woff2'),
        url('./startup/startup-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sequel100black-45';
    src: url('./sequelblack/sequel100black-45-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-45-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sequel100black-105';
    src: url('./sequelblack/sequel100black-105-webfont.woff2') format('woff2'),
        url('./sequelblack/sequel100black-105-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}